/PLR_artifacts/archived/*
/PLR_reconstruction/archived/*
/PLR_reconstruction/modeling.RData
/PLR_reconstruction/subfunctions/archived/*
/scripts/PLR_Excel_Batch_R/*
/documentation/images/scheme.odp
/PLR_reconstruction/figures_out/EMD_inspection/*
/apps_Shiny/inspect_EMD/demo/*
/apps_Shiny/inspect_EMD/archived_*
*.odp
/apps_Shiny/inspect_EMD/archived/server_4thCol.R
/PLR_reconstruction/figures_out/work_*
/PLR_analysis/images/1149_hilbert_*
.R*
*.pdf
/apps_Shiny/inspect_outliers/figures_out/*.png
/Apps_Shiny/inspect_outliers/figures_out/*.png
/PLR_stats/images/*.png
/Apps_Shiny/inspect_EMD/archived*
/PLR_stats/archived/*
/Apps_Shiny/inspect_EMD/demo/app.R
